* {
  box-sizing: border-box;
}
body {
  width: 90%;
  margin: 0 auto;
  font-family: "Roboto Mono", "Space Grotesk", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.header-container {
  background-color: lightblue;
}

.logo-img {
  width: 80px;
  height: 80px;
}
.nav-bar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  bottom: 50px;
  position: relative;
}
.nav-bar-items {
  text-decoration: none;
  color: black;
}

.APOD-paragraph {
  font-size: 20px;
}

.APOD-image {
  width: 400px;
  height: 400px;
  margin: auto;
}


.footer-main {
  background-color: #000;
  width: 100%;
  margin: 0 auto;
  
}

  

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
  margin-left: 20px;
}

.footer-links {
  height: 300px; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;

}
h5 {
  margin-left: 35px;
}

.footer-links a {
  color: #e5e5e5;
}
li {
  margin: 15px 0 0 0;
  color: #e5e5e5;
}

.footer-social {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.fa-brands {
  color: #ffffff;
  padding-right: 20px;
}
.Impressum {
  font-weight: 100;
  font-size: 0.9rem;
  color: gray;
}